<!DOCTYPE html>
<html>
  <head>
    <title>Gurltalk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-inverse bg-inverse">
      <% if current_user %>
          <%= link_to 'GurlTalk', home_url, class: 'navbar-brand' %>
        <% else %>
         <%= link_to 'GurlTalk', root_url, class: 'navbar-brand' %>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">



        <ul class="navbar-nav mr-auto">
          <% if current_user %>

            <li class="nav-item active">
              <%= link_to 'Home', home_path, class: 'nav-link' %>
            </li>

            <li class="nav-item">
                <%= link_to 'My Dashboard', "#", class: 'nav-link' %>
            </li>

            <li class="nav-item">
              <%= link_to 'Add Photo', "#", class: 'nav-link' %>
            </li>

          <li class="nav-item">
            <%= link_to 'Post Blog', "#", class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Share Music', "#", class: 'nav-link' %>
      </li>

            <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>

            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Looking for something?" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

          <% else %>

            <li class="nav-item">
              <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>


      </div>
    </nav>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>

    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
